<?xml version='1.0' encoding='utf-8'?>
<widget id="com.moneytron" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Moneytron</name>
    <description>
      Webpack generated Cordova App
    </description>
    <author email="phorque@phorque.it" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html"/>
    <access origin="*" />
    <allow-intent href="*.firebaseio.com" />
    <allow-intent href="auth.firebase.com" />
</widget>
